<%- include("partials/header"); %>

<div class="home">
    <div class="homeLogo">
        <h1>Testbook</h1>
        <h3>Post whatever you want!</h3>
    </div>
    <div class="login-signup">
        <p>To use Testbook, please login or signup</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-secondary">Register</a>
    </div>

</div>


<%- include("partials/footer"); %>
