<%- include("partials/header"); %> 



<form action="/login" method="post" id="login">

    <h1 class="loginHeader">Log in</h1>

    <label>Email:</label>
    <input type="email" name="email" placeholder="Enter your email here"required><br>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter your password here" minlength="8" required><br>

    <div class="forgotPassword">
    <a href="/forgotpassword">Forgot Password?</a>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    
    <div class="registerAtLogin">
        <label>Don't have an account?</label>
        <a href="/register">Register</a>
    </div>

</form>




<%- include("partials/footer"); %> 
